In [101]:
import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = 'latin-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
Area Code       60943 non-null int64
Area            60943 non-null object
Item Code       60943 non-null int64
Item            60943 non-null object
Element Code    60943 non-null int64
Element         60943 non-null object
Unit            60943 non-null object
Y2014           59354 non-null float64
Y2015           59395 non-null float64
Y2016           59408 non-null float64
Y2017           59437 non-null float64
Y2018           59507 non-null float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [46]:
df['Area'].nunique()

49

In [19]:
df.duplicated().any()

False

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
Area Code       60943 non-null int64
Area            60943 non-null object
Item Code       60943 non-null int64
Item            60943 non-null object
Element Code    60943 non-null int64
Element         60943 non-null object
Unit            60943 non-null object
Y2014           59354 non-null float64
Y2015           59395 non-null float64
Y2016           59408 non-null float64
Y2017           59437 non-null float64
Y2018           59507 non-null float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [41]:
df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [120]:
df.groupby('Element').sum()['Y2017']

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [61]:
mask = df['Area'] == 'Madagascar'
df[mask].groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,15351,318888,630819,31578.76,31214.98,31732.08,31927.87,32596.87
Export Quantity,13416,279445,614744,425.48,494.75,535.06,566.81,535.81
Fat supply quantity (g/capita/day),14319,299405,75924,88.72,91.85,95.33,101.03,96.43
Feed,4515,94030,193235,2178.76,2070.22,2121.40,2059.60,2133.60
Food,14190,295817,565620,21405.42,21120.65,21435.61,21676.21,22116.21
Food supply (kcal/capita/day),14319,299405,73704,7945.00,7685.00,7669.00,7768.00,7748.00
Food supply quantity (kg/capita/yr),14190,295817,70950,907.59,871.59,861.17,847.75,842.17
Import Quantity,14319,297945,622821,2010.71,1721.80,1901.47,3139.79,3214.79
Losses,7095,148102,281765,2252.00,2176.00,2215.00,2153.00,2253.00
Other uses (non-food),6579,138246,262854,4348.58,3957.12,4114.08,4170.06,4221.06
Processing,9804,201929,389956,1262.00,1803.00,1770.00,1826.00,1819.00
Production,14190,295071,606210,30337.51,29482.89,29889.65,29267.86,30215.86
Protein supply quantity (g/capita/day),14319,299405,74814,177.79,173.05,173.40,175.75,176.64
Residuals,13545,280011,542850,-603.00,-616.00,-642.00,-657.00,-676.00
Seed,2709,56067,116067,728.00,699.00,720.00,695.00,728.00
Stock Variation,12642,262174,497056,352.00,-505.00,-475.00,-91.00,293.00
Total Population - Both sexes,129,2501,511,23590.00,24234.00,24894.00,25571.00,26262.00

In [72]:
df[['Y2017', 'Area']].groupby('Area')['Y2017'].sum().sort_values()

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
Côte d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [88]:
missing_in_2014 = df['Y2014'].isnull().sum()
total = df['Y2014'].shape[0]
percentage = (missing_in_2014/total) * 100
print(percentage)

2.6073544131401474

In [97]:
df.groupby('Item').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [129]:
df['Element Code'].corr(df['Y2017'])

0.02425400776004572

In [130]:
df['Element Code'].corr(df['Y2016'])

0.023443997584961428

In [131]:
df['Element Code'].corr(df['Y2014'])

0.024456819495221795

In [132]:
df['Element Code'].corr(df['Y2015'])

0.02388919930163992