In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [2]:
#load the data into pandas

df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
#quick description of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [4]:
df_copy = df.drop(['date', 'lights'], axis = 1) 
df_copy.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df_copy),  columns = df_copy.columns)
X = df_scaled.drop(columns=['Appliances'])
y = df_scaled['Appliances']

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print('X_train rows: {} columns: {}'.format(X_train.shape[0], X_train.shape[1]))
print('y_train rows: {}'.format(y_train.shape[0]))
print('X_test rows: {} columns: {}'.format(X_test.shape[0], X_test.shape[1]))
print('y_test rows: {} '.format(y_test.shape[0]))

X_train rows: 13814 columns: 26
y_train rows: 13814
X_test rows: 5921 columns: 26
y_test rows: 5921

In [7]:
df_reg = df_scaled[['T2', 'T6']]

df_reg.head()

         T2        T6
0  0.225345  0.381070
1  0.225345  0.375443
2  0.225345  0.367487
3  0.225345  0.363800
4  0.225345  0.361859

In [8]:
x= df_reg['T2'].values.reshape(-1,1)
y = df_reg['T6'].values.reshape(-1,1)

In [9]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=42)

In [10]:

from sklearn import linear_model
linear_regression = linear_model.LinearRegression()

linear_regression.fit(xtrain, ytrain)
predicted = linear_regression.predict(xtest)

In [12]:
#R-squared or Coefficient of determination
from sklearn.metrics import r2_score

R2_score = r2_score(ytest, predicted)
print('R-squared:',(round(R2_score, 2)))

R-squared: 0.64

### Linear Model on Main Dataset

In [13]:
from sklearn import linear_model

regression = linear_model.LinearRegression()

regression.fit(X_train, y_train)
energy_predicted = regression.predict(X_test)

print("Training score: {:.3f}".format(regression.score(X_train, y_train)))
print("Test score: {:.3f}".format(regression.score(X_test, y_test)))

Training score: 0.145
Test score: 0.149

In [16]:
from sklearn.metrics import mean_absolute_error
MeanAbsoluteError = mean_absolute_error(y_test, energy_predicted)

print('MAE:',(round(MeanAbsoluteError, 2)))
import numpy as np
RSS = np.sum(np.square(y_test - energy_predicted))
print('RSS:',(round(RSS, 2)))

from sklearn.metrics import  mean_squared_error

RMSE = np.sqrt(mean_squared_error(y_test, energy_predicted))
print('RMSE:',(round(RMSE, 3)))

from sklearn.metrics import r2_score

R2_score = r2_score(y_test, energy_predicted)
print('R-squared:',(round(R2_score, 2)))

MAE: 0.05
RSS: 45.34
RMSE: 0.088
R-squared: 0.15

In [18]:
def weights(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_model_weights = weights(regression, X_train, 'Linear_model_Weight')
linear_model_weights

       Features  Linear_model_Weight
0           rv2        -2.219382e+11
1          RH_2        -4.567672e-01
2         T_out        -3.219552e-01
3            T2        -2.361994e-01
4            T9        -1.899314e-01
5          RH_8        -1.576020e-01
6        RH_out        -7.768452e-02
7          RH_7        -4.455266e-02
8          RH_9        -3.980932e-02
9            T5        -1.566960e-02
10           T1        -3.281051e-03
11  Press_mm_hg         6.853755e-03
12           T7         1.027363e-02
13   Visibility         1.228672e-02
14         RH_5         1.601549e-02
15         RH_4         2.634730e-02
16           T4         2.896918e-02
17    Windspeed         2.919433e-02
18         RH_6         3.808434e-02
19         RH_3         9.595330e-02
20           T8         1.020164e-01
21    Tdewpoint         1.178010e-01
22           T6         2.364816e-01
23           T3         2.907042e-01
24         RH_1         5.536721e-01
25          rv1         2.219382e+11

In [19]:
linear_model_weights['Linear_model_Weight'].describe()

count    2.600000e+01
mean     8.603610e-04
std      6.277360e+10
min     -2.219382e+11
25%     -6.940156e-02
50%      1.128017e-02
75%      8.148606e-02
max      2.219382e+11
Name: Linear_model_Weight, dtype: float64

In [20]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

ridge_pred = ridge_reg.predict(X_test)

print("Training score: {:.3f}".format(ridge_reg.score(X_train, y_train)))
print("Test score: {:.3f}".format(ridge_reg.score(X_test, y_test)))

Training score: 0.145
Test score: 0.149

In [21]:
from sklearn.metrics import  mean_squared_error

RMSE = np.sqrt(mean_squared_error(y_test, ridge_pred))
print('RMSE:',(round(RMSE, 3)))

RMSE: 0.088

In [22]:
from sklearn.linear_model import Lasso

lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

lasso_pred = lasso_reg.predict(X_test)

print("Training score: {:.3f}".format(lasso_reg.score(X_train, y_train)))
print("Test score: {:.3f}".format(lasso_reg.score(X_test, y_test)))

Training score: 0.025
Test score: 0.027

In [24]:
lasso_weights_df = weights(lasso_reg, X_train, 'Lasso_weight')
lasso_weights_df[lasso_weights_df["Lasso_weight"] != 0]

     Features  Lasso_weight
0      RH_out     -0.049557
1        RH_8     -0.000110
24  Windspeed      0.002912
25       RH_1      0.017880

In [25]:
from sklearn.metrics import  mean_squared_error

RMSE = np.sqrt(mean_squared_error(y_test, lasso_pred))
print('RMSE:',(round(RMSE, 3)))

RMSE: 0.094